$bgColorTheme = rgba(255, 152, 0, 1)
$darkColor = #333
$bgColorDefaultNormal = #e4eaec
$bgColorDefaultHover = #ccd5db
$bgColorDefaultActive = #76838f
$bgColorPrimaryNormal = #62a8ea
$bgColorPrimaryHover = #89bceb
$bgColorPrimaryActive = #4e97d9
$bgColorSuccessNormal = #46be8a
$bgColorSuccessHover = #5cd29d
$bgColorSuccessActive = #36ab7a
$bgColorInfoNormal = #57c7d4
$bgColorInfoHover = #77d6e1
$bgColorInfoActive = #47b8c6
$bgColorWarningNormal = #f2a654
$bgColorWarningHover = #f4b066
$bgColorWarningActive = #e79857
$bgColorDangerNormal = #f96868
$bgColorDangerHover = #fa7a7a
$bgColorDangerActive = #e9595b